.classpath
.project
.cache-main
.cache-tests
.settings/
target/
project/target
.cache
.idea/
.cache-main
bin/
native
*.pyc
*.pem
*.stackdump
*.tfvars
*.tfstate
*.tfstate.backup
*.deb
.terraform/
node_modules/
.DS_Store
